<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkcj.dao.Rel_DataDOMapper">
  <resultMap id="BaseResultMap" type="com.jkcj.DO.Rel_DataDO">
    <result column="Channel" jdbcType="INTEGER" property="channel" />
    <result column="No" jdbcType="INTEGER" property="no" />
    <result column="Data" jdbcType="VARCHAR" property="data" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <insert id="insert" parameterType="com.jkcj.DO.Rel_DataDO">
    insert into rel_data (Channel, No, Data, 
      Time)
    values (#{channel,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{data,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jkcj.DO.Rel_DataDO">
    insert into rel_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channel != null">
        Channel,
      </if>
      <if test="no != null">
        No,
      </if>
      <if test="data != null">
        Data,
      </if>
      <if test="time != null">
        Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channel != null">
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>